.idea/
.metals/
.vscode/
.prettierrc.js
project/project
target/
web/node_modules/
wp4/node_modules/
wp5/node_modules/
log/
public/import-files/
.sass-cache
design/
*.conf
*.DS_Store
web/.DS_Store
conf/text
conf/logback.xml
public/js/
public/css/fan.css
public/css/fan.css.map
app/views/main.scala.html
app/views/main2.scala.html
tools/
*.bak
myapp/node_modules/
node_modules/